@page "/"
@inject IApiClient NineGagApiClient
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
<h1>Hello, world!</h1>

<p>Top title: @topTitle</p>

<button class="btn btn-primary" @onclick="LoadPostsAsync">Click me</button>

@code {

    string topTitle = "Click the button!";

    private async Task LoadPostsAsync()
    {
        var posts = await NineGagApiClient.GetPostsAsync(My9GAG.Models.Post.PostCategory.Hot, 10);
        topTitle = posts.First().Title;
    }

}