@using Authentication
@inject NavigationManager NavigationManager
@inject NineGagAuthenticationStateProvider AuthenticationStateProvider

<Button Color="Color.Secondary" Clicked="@Logout" @attributes="InputAttributes">Logout</Button>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }

    private void AuthStateChanged(object s, EventArgs e)
    {
        this.StateHasChanged();
    }

    async Task Logout()
    {
        await AuthenticationStateProvider.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }
}
